:root {
    --blue: #0d6efd;
    --gray: #f5f5f5;
    --lightGray: #e2e2e2;
}

/* Div: center it */
.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Div: flex column */
.columnDiv {
    flex-direction: column;
}

/* Keep the form width size consistent */
.formSize {
    width: 35rem;
}

.formSize, .tabContainer {
    background-color: var(--gray);
    border: 1px solid var(--lightGray);
    border-radius: 0.25rem;
    padding: 1.3rem;
}

.homeForm {
    border: none;
}

/* Right-align modal button */
#xButton {
    margin-left: auto;
    height: 32px;
    width: 32px;
}

h1, .centerText {
    text-align: center;
}

/* Same as the .formSize, .tabContainer padding except only left padding */
.tabContainer h3 {
    padding-left: 1.3rem;
}

/* Main modal */
#mainModal {
    padding-bottom: 3rem;
}

/* ul's */
ul {
    list-style-type: none;
}

.feed > .columnUl > li, .liUR {
    padding: 1rem !important;
}

.feed, .dbDiv {
    width: 100%;
}

.columnUl, .ulListUR {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.columnUl > li, ulListUR > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Image max-height and max-width */
.card-img-top {
    max-width: 20rem;
    cursor: zoom-in;
}

.admin-img {
    max-height: auto;
    max-width: 12.5rem;
}

/* Modal: https://www.w3schools.com/howto/howto_css_modal_images.asp */
#imgModal, #imgModalBg {
    display: none;
    position: sticky;
    z-index: 1;
    left: 0;
    top: 0;
}

#imgModal {
    width: 70%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#imgModalBg {
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.65);
}

#zoomedImg {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 64px);
}

/* underNav (margin spacing), html, body, #root, .root */
.underNav, #alertNotif {
    margin-top: 2rem;
}

html {
    height: 100vh;
}

body {
    min-height: 100vh;
    background: url("https://localhost:7035/wwwroot/Website/volodymyr-hryshchenko-vqfiIoRjXWU-unsplash.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    backdrop-filter: blur(12.5px);
}

/* Sign up and Register and Home Links */
#signUpForm a, #loginForm a, .card-title > a {
    text-decoration: none;
}

#signUpForm a:hover, #loginForm a:hover, .card-title > a:hover {
    text-decoration: underline;
}

/* Favicons */
.navIconDiv {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.favicon {
    height: 2rem;
    width: 2rem;
}

/* Text */
.placeholderText, #pMsg {
    font-weight: 500;
}

.placeholderText {
    font-size: 1.25rem;
}