:root {
    --blue: #0d6efd;
    --gray: #f5f5f5;
    --lightGray: #e2e2e2;
}

/* Div: center it */
.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Div: flex column */
.columnDiv {
    flex-direction: column;
}

/* Keep the form width size consistent */
.formSize {
    width: 35rem;
}

.formSize, .tabContainer {
    background-color: var(--gray);
    border: 1px solid var(--lightGray);
    border-radius: 0.25rem;
    padding: 1.3rem;
}

.homeForm {
    border: none;
}

/* Right-align modal button */
#xButton {
    margin-left: auto;
}

h1, .centerText {
    text-align: center;
}

/* Same as the .formSize, .tabContainer padding except only left padding */
.tabContainer h3 {
    padding-left: 1.3rem;
}

/* Navbar, Main modal */
#mainModal, #navbar {
    margin-bottom: 3rem;
}

/* ul's */
ul {
    list-style-type: none;
}

.feed > .columnUl > li, .liUR {
    padding: 1rem !important;
}

.feed, .dbDiv {
    width: 100%;
}

.columnUl, .ulListUR {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.columnUl > li, ulListUR > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img-top {
    max-height: 20rem;
    max-width: 30rem;
    cursor: zoom-in;
}

/* html and body */
html {
    height: 100vh;
}

body {
    min-height: 100vh;
    background: url("https://localhost:7035/wwwroot/Website/volodymyr-hryshchenko-vqfiIoRjXWU-unsplash.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    backdrop-filter: blur(10px);
}

/* Sign up and Register and Home Links */
#signUpForm a, #loginForm a, .card-title > a {
    text-decoration: none;
}

#signUpForm a:hover, #loginForm a:hover, .card-title > a:hover {
    text-decoration: underline;
}

/* Favicons */
.navIconDiv {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.favicon {
    height: 2rem;
    width: 2rem;
}